@import "tailwindcss";

@theme {
  --color-azul-pergaminho: #1B2A4A;
  --color-pergaminho: #F3EAD7;
  --color-ouro-iluminura: #C19A3B;
  --color-bordo-sagrado: #74283A;
  --color-salvia: #6E7E63;
  --color-tinta: #211E1A;
  --color-pedra: #8A8275;
}

body {
  margin: 0;
  background: var(--color-pergaminho);
  color: var(--color-tinta);
}
